.collapsible_div
{
    display: flex;
    flex-direction: column;
}
.visible_part
{
    height: 2vh;
    width: 5vw;
    border: 1px solid black;
}
.hidden_part
{
    height: 2vh;
    width: 5vw;
    border: 1px solid black;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}