.main_container
{
    border:1px solid red;

}
.heading_picture
{
    border:1px solid red;
    height: 40vh;
    background-image: url('../../assets/3698931.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}